
.shape_1{
    position: absolute;
    top: 35%;
    left: 5%;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shape_1;
}
@keyframes shape_1 {
0% {left: 0px;top: 35%}
25% {left:20px;top:35%}
50% {left:20px;top:45%}
75% {left:0px;top:45%}
100%{left: 0px;top: 35%;}
}

.shape_2 {
    position: absolute;
    left: 35%;
    top:20%;
    animation: rotaed360 6s infinite linear;
    animation-duration: 6s;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shape_2;
}

@keyframes shape_2 {
0% {left:35%;top: 20%}
25% {left:20px;top:20%}
50% {left:20px;top:30%}
75% {left:35%;top:30%}
/* 100%{left: 35%;top: 20%;} */
100% {transform: rotate(360deg)}
}

.shape_3 {
    position: absolute;
    top: 47%;
    left: 68%;
    animation: rotaed360 6s infinite linear;
    animation-duration: 6s;
    animation-timing-function: ease;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-name: shape_3;
}

@keyframes shape_3 {
/* 0% {left:68%;top: 47%}
25% {left:75%;top:47%}
50% {left:75%;top:52%}
75% {left:68%;top:53%}
100%{left: 68%;top: 47%;} */
100% {transform: rotate(360deg);}
}